<div class="user-details">
  <h1><a href="https://herberthsu.wordpress.com/my-portfolio/"> My Portfolio </a></h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com/project1"> Project 1 </a></p></h3>
  </div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com/project2"> Project 2 </a></p></h3>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com/project1"> Project 1 </a></p></h3>
  </div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com/project2"> Project 2 </a></p></h3>
  </div>
</div>

