---
layout: default
---

<div class="user-details">
  <h1> My Portfolio </h1>
</div>
<main id="scroll" class="home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
        <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <div class="content">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a>
                    <p class="description">
                        {{ post.content | strip_html | truncatewords:40 }}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link">Read more about {{post.title}}</a>
                    </p>
                </div>
        </article>
    {% endfor %}
</main>


