<div class="user-details">
  <h1><a href="https://herberthsu.wordpress.com/my-portfolio/"> My Portfolio </a></h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/atw.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com/All-Terrain-Wheelchair/"> All-Terrain Wheelchair</a></p></h3>
  </div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/dog.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com//Canine-Crash-Dummies/"> Canine Crash Dummies</a></p></h3>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/bladder.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="files/herberthsu_ug_symposium_poster_11-16_ver2.pdf" target="_blank"> Bladder Maker Research</a></p></h3>
  </div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ball.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com//Ball-Collection/"> Ball Collection</a></p></h3>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/bladder.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com//Ball-Collection/" target="_blank"> Bladder Maker Research</a></p></h3>
  </div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ball.jpg" | prepend: site.baseurl }}" />
    <h3><p align="center"><a class="project-link" href="https://herberthsu.com//Ball-Collection/"> Ball Collection</a></p></h3>
  </div>
</div>

