<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
        <div class="user-details">
          <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="herbert-hsu-0803"><a class="LI-simple-link" href='https://www.linkedin.com/in/herbert-hsu-0803?trk=profile-badge'>Herbert Hsu</a></div>
        </div>
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
