<html lang="en">
    {% include head-post.html %}
    <body>
       <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <div role="article" id="scroll" class="post-content" itemprop="articleBody">
                <h1> {% if post.title %}{% include {{ post.title }} %}{% endif %} </h1>
                <h1> {% if title %}{% include {{ title }} %}{% endif %} </h1>
                <h1> {{ include.title }} </h1>
                <p align="left"> {{post.title}} </p>
                <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                    {{ title }}
                </article>
            </div>
            {% include footer.html %}
        </section>
  </body>
</html>
