<html lang="en">
    {% include head-post.html %}
    <body>
       <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <div role="article" id="scroll" class="post-content" itemprop="articleBody">
                <h1> {{posts.title}} </h1>
                <p align="center"> {{posts.title}} </p>
                <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                    {{ content }}
                </article>
            </div>
            {% include footer.html %}
        </section>
  </body>
</html>
